li
  h3
    //- TODO: figure out how to include date in CouchDB view blogslugs
    //- a(href="/blog/#{blogpost.year}/#{blogpost.month}/#{blogpost.slug}") #{blogpost.title}
    a(href="/blog/title/#{blogpost.slug}") #{blogpost.title}
  p #{blogpost.timestamp}
  !{blogpost.post}
